@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  text-align: center;
  margin: 20px;
}

.search {
  float:right;
  display:flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}
.select {
  display:flex;
  justify-content: right;
}

.field {
  display:flex;
  justify-content: center;
}

.actions {
  display:flex;
  justify-content: center;
}

.shared-links {
  display:flex;
  justify-content: center;
}

.title{
  display:flex;
  justify-content: center;
}
.subtitle{
  display:flex;
  justify-content: center;
}

.list{
  display:flex;
  justify-content: center;
}

.link{
  display:flex;
  justify-content: center;
  margin: 10px;
}